//// LESS
.container{
    max-width: 1000px;
}
header{
    background-color: #004861;
    padding: 20px 0;
    .full__fix-container{
        position: relative;
        .header__element{
            .header__element-nav{
                .header__element-nav--icon{
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    background-image: url('/assets/media/btn-nav.png');
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    background-repeat: no-repeat;
                }
            }
            .header__element-logo{
                .header__element-logo--title{
                    display: none;
                }
                .header__element-logo--img{
                    img{
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }
}

.posts__element--firstrow{
    padding: 30px 0;
    &:after{
        display: block;
        content: ' ';
        clear: both;
    } 
    article.content{
        a{
            &:hover{
                text-decoration: none
            }
        }
        &:nth-of-type(1), &:nth-of-type(2){
            height: 260px;
            position: relative;
            padding: 20px 35px;
            overflow: hidden;
            padding-top: 145px;
            .content__image{
                height: 260px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;
                background-repeat: no-repeat;
                background-position: center center;
                img{
                    position: relative;
                    margin: 0 auto;
                    display: block;
                }
            }
            .content__overlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
                background: -webkit-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
                background: -o-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
                background: -ms-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
                background: linear-gradient(180deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
                opacity: .5;
                width: 464px;
                margin: 0 auto;
            }
            .content__category{
                z-index: 9;
                position: relative;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                h3{
                    color: #ffffff;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
            .content__title{
                z-index: 9;
                position: relative;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                h2{
                    color: #ffffff;
                    font-size: 21px;
                }
            }
            .content__description{
                z-index: 9;
                position: relative;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                }
            }
            .content__share--white{
                position: absolute;
                right: 30px;
                top: 10px;
                width: 25px;
                height: 25px;
                background-image: url('/assets/media/share-white.png');
                background-repeat: no-repeat;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
}
.posts__element--secondrow{
    margin-bottom: 40px;
    article.content{
        a{
            &:hover{
                text-decoration: none
            }
        }
        &:nth-of-type(1), &:nth-of-type(2){
            position: relative;
            .content__image{
                float: left;
                padding: 0 0 0 2.5px;
                margin-right: 10px;
                img{
                    max-width: 100%;
                }
            }
            .content__category{
                z-index: 9;
                position: relative;
                padding-top: 10px;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                h3{
                    color: #004861;
                    font-size: 10px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .content__title{
                z-index: 9;
                position: relative;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                h2{
                    font-size: 18px;
                    color: #000000;
                    font-weight: 700;
                }
            }
            .content__description{
                z-index: 9;
                position: relative;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                p{
                    color: #000000;
                    font-size: 14px;
                }
            }
            .content__share--black{
                position: absolute;
                left: 250px;
                bottom: 10px;
                width: 25px;
                height: 25px;
                background-image: url('/assets/media/share-black.png');
                background-repeat: no-repeat;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
}
.posts__element--thirdrow{
    margin-bottom: 40px;
    article.content{
        a{
            &:hover{
                text-decoration: none
            }
        }
        .content__image{
            img{
                max-width: 100%;
            }
        }
        .content__category{
            z-index: 9;
            position: relative;
            padding-top: 10px;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            h3{
                color: #004861;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .content__title{
            z-index: 9;
            position: relative;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            h2{
                font-size: 18px;
                color: #000000;
                font-weight: 700;
            }
        }
        .content__description{
            z-index: 9;
            position: relative;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            p{
                color: #000000;
                font-size: 14px;
            }
        }
        .content__share--black{
            position: absolute;
            left: 10px;
            bottom: -20px;
            width: 25px;
            height: 25px;
            background-image: url('/assets/media/share-black.png');
            background-repeat: no-repeat;
            z-index: 10;
            cursor: pointer;
        }
    }
}
.iframe__ads{
    margin-bottom: 40px;
    padding: 40px 0;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    img{
        margin: 0 auto;
        display: block;
        &:last-child{
            display: none
        }
    }
}
.brasil__posts, .mundo__posts{
    margin-bottom: 40px;
    .title__section{
        padding: 0 15px;
        h2{
            text-transform: uppercase;
            font-size: 24px;
            color: #004761;
            font-weight: 700;
        }
    }
    article.br__post, article.mo__post{
        a{
            &:hover{
                text-decoration: none
            }
        }
        .br__post-element--image, .mo__post-element--image{
            img{
                max-width: 100%;
            }
        }
        .br__post-element--category, .mo__post-element--category{
            z-index: 9;
            position: relative;
            padding-top: 10px;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            h3{
                color: #004861;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .br__post-element--title, .mo__post-element--title{
            z-index: 9;
            position: relative;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            h2{
                font-size: 18px;
                color: #000000;
                font-weight: 700;
            }
        }
        .br__post-element--description, .mo__post-element--description{
            z-index: 9;
            position: relative;
            a{
                &:hover{
                    text-decoration: none;
                }
            }
            p{
                color: #000000;
                font-size: 14px;
            }
        }
        .content__share--black{
            position: absolute;
            left: 10px;
            bottom: -20px;
            width: 25px;
            height: 25px;
            background-image: url('/assets/media/share-black.png');
            background-repeat: no-repeat;
            z-index: 10;
            cursor: pointer;
        }
    }
    footer{
        text-align: right;
        margin: 15px 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        margin-top: 50px;
        a{
            text-transform: uppercase;
            font-size: 18px;
            color: #004761;
            font-weight: 700;
        }
    }
}
footer.footer__main{
    padding: 20px 0 5px;
    background: #d5e11f;
    img{
        padding: 20px 0;
    }
    p{
        text-transform: uppercase;
        font-size: 12px;
        text-align: right;
        padding: 10px;
    }
}
@media only screen and (max-width: 480px) {
    header{
        margin-bottom: -30px;
        .header__element-nav--icon{
            top: 0 !important;
        }
        .header__element-logo--img img {
            max-width: 150px;
        }
    }
    .posts__element--firstrow{
        article.content{
            &:nth-of-type(1), &:nth-of-type(2){
                height: auto;
                padding: 0;
                border-bottom: 1px solid #cccccc;
                .content__image{
                    position: relative;
                    margin-bottom: 30px;
                }
                .content__overlay{
                    display: none;
                }
                .content__category{
                    padding: 0 15px;
                    h3{
                        color: #004861;
                    }
                }
                .content__title{
                    padding: 0 15px;
                    h2{
                        color: #000000;
                    }
                }
                .content__description{
                    padding: 0 15px;
                    p{
                        color: #000000;
                        margin-bottom: 30px;
                    }
                }
                .content__share--white{
                    top: 20px;
                    right: 20px;
                }
            }
        }
    }
    .posts__element--secondrow{
        article.content{
            border-bottom: 1px solid #cccccc;
            margin-bottom: 30px;
            .content__image{
                min-height: 190px;
                margin-right: 30px;
                img{
                    max-width: 110px !important;
                }
            }
            .content__share--black{
                bottom: 40px !important;
                left: 100px !important;
            }
        }
    }
    .posts__element--thirdrow{
        margin-top: -30px;
        article.content{
            min-height: 200px;
            margin-bottom: 30px;
            border-bottom: 1px solid #cccccc;
            .content__image{
                float: left;
                margin-right: 20px;
                img{
                    max-width: 200px !important;
                }
            }
            .content__title{
                padding: 0 15px;
                min-height: 100px
            }
            .content__description{
                display: block;
                p{
                    padding-right: 90px;
                }
            }
            .content__share--black{
                bottom: 20px !important;
                left: 90% !important;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
    .iframe__ads{
        background: none;
        border: 0;
        margin: -40px auto 0;
        img{
            max-width: 100%;
            display: none;
            &:last-child{
                display: block
            }
        }
    }
    .brasil__posts-content, .mundo__posts-content{
        article.br__post, article.mo__post{
            min-height: 200px;
            margin-bottom: 30px;
            border-bottom: 1px solid #cccccc;
            .br__post-element--image, .mo__post-element--image{
                float: left;
                margin-right: 20px;
                img{
                    max-width: 200px !important;
                }
            }
            .br__post-element--title, .mo__post-element--title{
                padding: 0 15px;
                min-height: 100px
            }
            .br__post-element--description, .mo__post-element--description{
                display: block;
                p{
                    padding-right: 90px;
                }
            }
            .content__share--black{
                bottom: 20px !important;
                left: 90% !important;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
        footer{
            margin-bottom: -30px;
        }
    }
    footer{
        .footer__element{
            img{
                display: block;
                margin: 0 auto;
            }
            p{
                text-align: center;
            }
            &:last-child{
                background-color: #004861;
                margin-bottom: -5px;
                padding: 10px 0;
                p{
                    color: #ffffff;
                }
            }
        }
    }
}